*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial,sans-serif;
background:#070b17;
color:white;
line-height:1.6;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 8%;
position:sticky;
top:0;
background:#070b17dd;
backdrop-filter:blur(10px);
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.logo{
font-size:24px;
font-weight:bold;
color:#60a5fa;
}

.hero{
text-align:center;
padding:100px 20px;
}

.profile{
width:180px;
height:180px;
border-radius:50%;
border:4px solid #60a5fa;
margin-bottom:30px;
object-fit:cover;
}

.hero h1{
font-size:60px;
margin-bottom:20px;
}

.hero span{
background:linear-gradient(
90deg,
#60a5fa,
#a855f7
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.hero p{
max-width:800px;
margin:auto;
color:#cbd5e1;
}

.buttons{
margin-top:30px;
}

.btn{
padding:12px 25px;
border-radius:30px;
text-decoration:none;
margin:10px;
display:inline-block;
}

.primary{
background:#7c3aed;
color:white;
}

.secondary{
border:1px solid white;
color:white;
}

section{
padding:70px 8%;
}

h2{
margin-bottom:30px;
}

.timeline{
display:grid;
gap:20px;
}

.card{
background:rgba(255,255,255,0.05);
padding:25px;
border-radius:20px;
border:1px solid rgba(255,255,255,0.08);
}

.card:hover{
transform:translateY(-5px);
transition:0.3s;
}

.skills{
display:flex;
flex-wrap:wrap;
gap:15px;
}

.skills span{
background:#111827;
padding:12px 18px;
border-radius:30px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

footer{
padding:40px;
text-align:center;
color:#94a3b8;
}
